.wrapper {
  display: grid;
  position: relative;
  margin: auto;
  svg {
    height: 2em;
    margin: auto;
  }
  path {
    fill: none;
    stroke-width: 1;
    stroke-dasharray: 400;
    stroke: var(--theme-color-1);
    transition: stroke-dashoffset var(--animation-duration) ease-in;
  }
}

.inputContainer {
  padding: 0 var(--margin);
  height: 3.2em;
  width: 100%;
  position: absolute;
  bottom: 0;
  max-width: 50ch;
  z-index: -10;
  right: 0;
 svg{
   position: absolute;
   right: 0em;
   top: 50%;
   transform: translate(-50%, -50%);
 }
}
