.container {
  left: 0;
  right: 0;
  z-index: 3;
  position: fixed;
  pointer-events: none;
}

.container.bottom {
  bottom: 0;
}

.container.top {
  top: 0;
}

.container.visible {
  pointer-events: all;
}
