.dropdownContainer {
  --height: 50px;
  overflow: hidden;
  height: var(--height);
  -webkit-transition: height var(--fast-animation-duration) ease;
  transition: height var(--fast-animation-duration) ease;
}

.dropdownContainer.open {
  height: var(--full-height);
}

.dropdownContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.mobile {
  border-bottom: var(--thin-border) solid #928080;
}

.mobile:nth-child(1) {
  border-top: var(--thin-border) solid #928080;
}

.subContainer {
  padding-right: var(--large-padding);
}

.label {
  text-transform: capitalize;
  height: var(--height);
  font-style: oblique;
  font-size: large;
}

.label .arrow {
  top: -0.2em;
  width: 10px;
  height: 10px;
  display: -ms-grid;
  display: grid;
  margin-left: auto;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
  -webkit-transition: -webkit-transform var(--animation-duration) ease-in-out;
  transition: -webkit-transform var(--animation-duration) ease-in-out;
  transition: transform var(--animation-duration) ease-in-out;
  transition: transform var(--animation-duration) ease-in-out, -webkit-transform var(--animation-duration) ease-in-out;
}

.label .arrow::after {
  content: "";
  width: 100%;
  padding-top: 100%;
  background-color: transparent;
  border: 0 solid var(--theme-color);
  border-width: 0 var(--thin-border) var(--thin-border) 0;
  -webkit-transition: background-color var(--animation-duration) ease-in-out, -webkit-transform var(--animation-duration) ease-in-out;
  transition: background-color var(--animation-duration) ease-in-out, -webkit-transform var(--animation-duration) ease-in-out;
  transition: transform var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out;
  transition: transform var(--animation-duration) ease-in-out, background-color var(--animation-duration) ease-in-out, -webkit-transform var(--animation-duration) ease-in-out;
}

.label .arrow.open {
  -webkit-transform: rotateZ(-135deg);
          transform: rotateZ(-135deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.label .arrow.open::after {
  background-color: var(--theme-color);
}

.content {
  font-size: var(--font-size);
  padding: var(--padding);
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  text-transform: capitalize;
}

.radio span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.7em;
  border: 1.3px solid #0f0f137d;
  -webkit-transition: border-radius 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  transition: border-radius 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.content input:checked ~ .radio span {
  border-radius: 3px;
  background-color: var(--accent-color);
  border: 1.3px solid #6060657d;
}

.contentContainer {
  display: -ms-grid;
  display: grid;
  place-items: left;
  -ms-grid-columns: (minmax(7em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
}

.color {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-gap: 1em;
  padding-bottom: 1.2em;
}

.colorItem {
  padding-top: 100%;
  position: relative;
  border: 2px solid black;
  overflow: hidden;
  -webkit-transition: border-radius var(--animation-duration) ease-in-out;
  transition: border-radius var(--animation-duration) ease-in-out;
}

.colorItem::after, .colorItem::before {
  content: "";
  width: 150%;
  position: absolute;
  height: 2px;
  background-color: var(--theme-color);
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  left: 50%;
  -webkit-transition: -webkit-transform var(--fast-animation-duration) ease-in-out;
  transition: -webkit-transform var(--fast-animation-duration) ease-in-out;
  transition: transform var(--fast-animation-duration) ease-in-out;
  transition: transform var(--fast-animation-duration) ease-in-out, -webkit-transform var(--fast-animation-duration) ease-in-out;
}

.colorItem.checked {
  border-radius: 5px;
}

.colorItem.checked::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.colorItem.checked::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.mobile .contentContainer {
  padding-bottom: 10px;
}

.mobile .color {
  padding-bottom: 1.5em;
}

.mobile .subContainer {
  padding: 0 var(--large-padding);
}
