.dropdownContainer {
  --height: 50px;
  border-bottom: var(--thin-border) solid rgb(146, 128, 128);
  overflow: hidden;
  height: var(--height);
  transition: height var(--fast-animation-duration) ease;
  &.open {
    height: var(--full-height);
  }
}

.subContainer {
  padding: 0 var(--large-padding);
}

.label {
  font-size: var(--font-size);
  height: var(--height);
  .arrow {
    width: 10px;
    height: 10px;
    display: grid;
    margin-left: auto;
    position: relative;
    transform: rotateZ(var(--rotation, 45deg))
      translateY(var(--translation, -2px));
    background-color: var(--accent-color);
    transition: transform var(--animation-duration) ease-in-out;
    &::after {
      content: "";
      width: 100%;
      padding-top: 100%;
      border: 0 solid var(--theme-color);
      border-width: 0 var(--thin-border) var(--thin-border) 0;
    }
    &.open {
      --rotation: -135deg;
      --translation: -2px;
    }
  }
}

.dropdownContainer:nth-child(1) {
  border-top: var(--thin-border) solid rgb(146, 128, 128);
}

.criteria {
  font-size: var(--font-size);
  padding: var(--padding);
  label{
    margin-left: var(--margin);
  }
}
