.container {
  min-height: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.filterRubriqueContainer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  height: 100%;
}

.apply {
  position: absolute;
  bottom: 70px;
  left: 50%;
  color: white;
  width: 70%;
  height: 2.2em;
  margin: 25px auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.apply::after, .apply::before {
  content: "";
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 4px;
  left: 4px;
  -webkit-transition: top var(--fast-animation-duration) ease-in-out, left var(--fast-animation-duration) ease-in-out;
  transition: top var(--fast-animation-duration) ease-in-out, left var(--fast-animation-duration) ease-in-out;
}

.apply::before {
  border: 1px solid var(--theme-color);
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  -webkit-transition: border-color var(--fast-animation-duration) ease-in-out;
  transition: border-color var(--fast-animation-duration) ease-in-out;
}

.apply:active::after {
  top: 0;
  left: 0;
}

.apply:active::before {
  top: 0;
  left: 0;
  border: 1px solid var(--accent-color);
}

.apply p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.priceFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  place-items: center;
  padding: 0 var(--large-padding);
}

.priceFilter h6 {
  padding-right: 10px;
  text-decoration: underline;
}

.priceFilter > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.priceFilter > div input {
  width: 5em;
}
