.sectionTitle {
  padding-top: var(--large-padding);
  margin-left: 0.4em;
}

.header {
  font-style: italic;
}

.subHeader {
  font-size: 0.8em;
  margin-top: var(--large-margin);
}

.backLink {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

.rubriqueLink a {
  text-decoration: underline;
}

.rubriqueLink {
  display: inline-block;
  font-size: 1em;
}

.rubriqueLink > a:last-child {
  text-decoration: none;
}
