.cardsContainer1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsContainer2 {
  width: 100%;
  display: flex;
  max-width: 300px;
  align-items: center;
  margin: calc(var(--box-gap)/2);
  justify-content: center;
}

.cards {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: var(--margin) 0;
  max-width: unquote("calc(50px + var(--max-card-height) * 100 / var(--aspect-ratio))"); //Uncommenting this property will force the card to maintain it's aspect ratio even if more
  padding-top: unquote("min(var(--max-card-height), calc(var(--aspect-ratio))*1%)");
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageSection {
  height: var(--image-percentage);
  position: relative;
  overflow: hidden;
  & > div:nth-child(2) {
    //this target the Image Div container
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    transition: transform var(--fast-animation-duration) ease-in-out;
  }
}

/****************************description**************************************/
.description {
  height: calc(100% - var(--image-percentage));
  flex-wrap: wrap;
  width: 100%;
}

.buy {
  height: unquote("clamp(25px,75%, 60px)");
  background-color: var(--accent-color);
  width: unquote("min(100px, 35%)");
  color: var(--text-color-light);
  margin: var(--margin) 0;
  
}

.price {
  height: unquote("clamp(25px,75%, 60px)");
  font-size: auto;
  color: var(--text-color-dark);
  padding: var(--padding);
  margin-left: auto;
}
