.cardsContainer {
  width: 100%;
  position: relative;
}

.cardsContainer.no-parent-restiction {
  width: unquote("min(var(--fCP),270px)");
  padding: var(--margin);
}

.cards {
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  margin-top: var(--margin);
  border-radius: var(--border-radius);
  // max-width: unquote("calc(50px + var(--max-card-height) * 100 / var(--aspect-ratio))"); //Uncommenting this property will force the card to maintain it's aspect ratio even if more
  padding-top: unquote(
    "min(var(--max-card-height), calc(var(--aspect-ratio))*1%)"
  );
}

.loading{
  opacity:0;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.imageSection {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #d9d9d9;
  & > div:nth-child(1) {
    //this target the Image Div container
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform var(--fast-animation-duration) ease-in-out;
  }
}
/***********************productInfo **************************************/
.moreInfo {
  --dimension: 15;
  --opened-dimension: 160;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.878);
  color: var(--theme-color);
  clip-path: ellipse(0% 0% at 100% 0%);
  transition: clip-path var(--animation-duration) ease-in-out;
  &.open {
    clip-path: ellipse(165% 132% at 100% 0%);
  }
}

.toggleInfoIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 2%;
  height: 8%;
  box-sizing: content-box;
}

.informations {
  overflow: auto;
  text-align: center;
}
/****************************description**************************************/
.description {
  margin-left: calc(var(--margin) / 2);
  width: 100%;
}

.description.no-parent-restiction {
  margin: 0px;
}

.price {
  color: var(--text-color-dark);
  padding: 0.3em 1px;
  p {
    margin: 0px;
    line-height: 1em;
  }
  &.no-parent-restiction {
    display: none;
  }
}
.buy {
  background-color: var(--accent-color);
  width: unquote("min(100px, 35%)");
  color: var(--text-color-light);
  margin-bottom: var(--margin);
  height: 1.8em;
  border-radius: var(--border-radius);
}

.buy.no-parent-restiction {
  margin-top: var(--margin);
}
