.error {
  width: 70%;
  color: red;
  font-size: 0.7em;
  text-align: right;
  margin-left: auto;
}

.inputContainer {
  width: 100%;
}

.c_b label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
  text-transform: capitalize;
}

.c_b label span {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.7em;
  border: 1.3px solid #0f0f137d;
  -webkit-transition: border-radius 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  transition: border-radius 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.c_b input {
  display: none;
}

.c_b input:checked ~ label span {
  border-radius: 3px;
  background-color: var(--accent-color);
  border: 1.3px solid #6060657d;
}
