.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  padding: var(--padding) 0;
  font-size: 0.1em;
  text-align: center;
  --transform: translate(-50%, -70%);
}

.moreProduct h3 {
  border-bottom: 0.1em solid var(--theme-color);
  padding-left: 0.2em;
  padding-right: 0.4em;
  margin-left: var(--margin);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9em;
}

.moreProduct.preset1 > .container > div {
  background-color: var(--accent-color-5);
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}
