.controller {
  position: relative;
}

.states {
  transform: translateX(-100%);
  background-color: white;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  max-height: 100vh;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  & > div {
    margin-top: 20vh;
    max-width: 80%;
  }
}

.message{
  padding: 0.2em 2em;
}

.ldsEllipsis {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-top: 20%;
  div {
    position: absolute;
    top: 0px;
    width: 20%;
    padding-top: 20%;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 0%;
      // display: none;
      animation: lds-ellipsis1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 0%;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 40%;
      animation: lds-ellipsis2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 80%;
      // display: none;
      animation: lds-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

.loading{
    color: rgb(83, 143, 255)
}
