.container {
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  background-color: white;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  gap: var(--box-gap);
  padding: var(--box-gap);
}
