.navTop {
  --nav-bottom-line: 2px;
  z-index: -1;
  position: relative;
  height: 40px;
  background-color: var(--body-background);
  border-bottom: var(--nav-bottom-line) solid var(--theme-color);
  & > div {
    position: relative;
    padding: 0 5px 0 15px;
  }
}

@media (min-width: 570px) {
  .navTop {
    height: 50px;
  }
}

.burgerDiv {
  width: var(--burger-width);
  height: var(--burger-height);
  margin: var(--burger-margin);
  transform: translateX(calc(-1 * var(--burger-margin)));
  flex: 1;
  position: relative;
  cursor: pointer;
  &::before,
  &::after,
  .middle {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--bar-height);
    background-color: var(--burger-color);
    transition: transform var(animation-duration) ease-in-out;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  .middle {
    top: calc(50% - var(--bar-height) / 2);
    transform: translateX(calc(-1 * var(--burger-width) / 5));
    transition: transform calc(var(--animation-duration) / 3) ease-in-out;
  }

  &:active {
    .middle {
      transform: translate(0);
    }
  }
}

.brandIcon {
  height: 30px;
}

.bagIcon {
  height: 40px;

  & > img {
    transform: scale(0.8) translateY(-3px);
    margin-top: 4px;
    max-height: 100%;
    height: calc(var(--burger-height) + 15px);
  }
}

.account {
  margin-right: 5px;
  height: 30px;
}

@media (min-width: 750px) {
  .navTop {
    font-size: 1em;
  }
  .bagIcon {
    height: 53px;
  }
}

.ItemsInCart {
  left: calc(100%);
  position: absolute;
  border-radius: 50%;
  p {
    color: var(--text-color-dark);
  }
}

.rightSection {
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
  position: relative;
  justify-content: space-between;
}

.textSearch {
  height: 80%;
  padding: 0.2em;
  position: relative;
  margin-right: 0.5em;
  border-radius: var(--border-radius);
  form{
    height: 100%;
  }
  button{
    height: 100%;
  }
  svg {
    z-index: 2;
    height: 100%;
    position: relative;
  }
  path {
    fill: none;
    stroke-width: 1;
    stroke-dasharray: 400;
    stroke: var(--theme-color-1);
    transition: stroke-dashoffset var(--animation-duration) ease-in;
  }
  .inputWrapper {
    background-color: blue;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition-property: width opacity;
    transition-timing-function: ease-in-out;
    transition-duration: var(--fast-animation-duration);
    * {
      margin: 0;
    }
    &.focus {
      width: 50ch;
      opacity: 1;
    }
  }
}

.navLink {
  padding: 0 20px;
  position: relative;
  display: grid;
  height: 100%;
  max-height: 100%;
  flex-shrink: 0;
  transform: translateY(5px);
  place-items: center;
}
.mainLink {
  display: block;
  position: relative;
  transform: translateY(-5px);
  &::after {
    position: absolute;
    bottom: -3px;
    content: "";
    left: 50%;
    width: 0%;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--theme-color);
    transition: width var(--fast-animation-duration) ease-in-out;
  }
}

.navLink:hover {
  .content {
    transform: unquote("translateY(calc(100% - 5px)) translateX(0px)");
    opacity: 1;
    pointer-events: auto;
  }
  .mainLink {
    &::after {
      transform: tranlateX(-50%);
      width: 100%;
    }
  }
}
.content {
  position: absolute;
  display: grid;
  z-index: -1;
  bottom: 0;
  opacity: 0;
  width: 40em;
  font-size: 0.7em;
  pointer-events: none;
  color: var(--text-color-light);
  background-color: var(--theme-color);
  grid-template-columns: unquote("repeat(auto-fill, minmax(25%, 1fr))");
  transform: unquote("translateY(calc(100% - 5px)) translateX(-20px)");
  transition: transform var(--fast-animation-duration) ease-in-out;
}

.headerGroup {
  margin: 20px;
  & > li {
    list-style: none;
    margin: 10px 5px;
  }
}

@media (max-width: 750px) {
  .navLink {
    display: none;
  }
  // .rightSection {
  //   & > div {
  //     margin: 0;
  //   }
  // }
  .brandIcon {
    top: 53%;
    left: 50%;
    position: absolute;
    transform: translate(-45%, -50%);
  }
}

@media (min-width: 750px) {
  .burgerDivContainer {
    display: none;
  }
  .brandIcon {
    margin-right: auto;
    margin-left: 0;
    // height: 40px;
    position: static;
  }
  .linkContainer {
    display: flex;
    height: 100%;
  }
  .navTop {
    & > div {
      padding: 0 23px 0 0px;
    }
  }
}

.rg_menu {
  backdrop-filter: blur(2px);
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 1;
  width: 10em;
  z-index: -10;
  font-size: 0.9em;
  padding: var(--padding);
  transform-origin: bottom;
  border-radius: 1px;
  background-color: var(--theme-color-2);
  color: white;
}

.login {
  background-color: var(--theme-color-2);
  color: white;
  border-radius: var(--border-radius);
  margin-top: auto;
  padding: 0.1em 0.4em;
  width: fit-content;
}

.register {
  @extend .login;
  font-size: 0.9em;
  background: var(--accent-color);
}

.user {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: 0.5em;
    top: 50%;
    height: 0.6em;
    width: 0.6em;
    border-top: 1px solid white;
    border-right: 1px solid white;
    transform: translateY(-50%) rotateZ(45deg);
  }
}

.signOut {
  margin-top: 0.5em;
  width: fit-content;
  padding: 0.05em 0.4em;
  border-radius: var(--border-radius);
  background-color: var(--accent-color-1);
}

.userImage {
  padding: 12px;
  font-size: 1.2em;
  background-color: var(--accent-color-2);
  border-radius: 100%;
  position: relative;
  border: 1px solid var(--theme-color-3);
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%);
    color: white;
  }
}
