.navTop {
  --nav-bottom-line: 2px;
  border-bottom: var(--nav-bottom-line) solid var(--theme-color);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: height var(--animation-duration) ease;
  transition: height var(--animation-duration) ease;
}

.navTop > div {
  padding: 0 calc(var(--padding)*5);
}

.burgerDiv {
  width: var(--burger-width);
  height: var(--burger-height);
  margin: var(--burger-margin);
  -webkit-transform: translateX(calc(-1 * var(--burger-margin)));
          transform: translateX(calc(-1 * var(--burger-margin)));
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  cursor: pointer;
}

.burgerDiv::before, .burgerDiv::after, .burgerDiv .middle {
  content: '';
  position: absolute;
  width: 100%;
  height: var(--bar-height);
  background-color: var(--burger-color);
  -webkit-transition: -webkit-transform var(animation-duration) ease-in-out;
  transition: -webkit-transform var(animation-duration) ease-in-out;
  transition: transform var(animation-duration) ease-in-out;
  transition: transform var(animation-duration) ease-in-out, -webkit-transform var(animation-duration) ease-in-out;
}

.burgerDiv::before {
  top: 0;
}

.burgerDiv::after {
  bottom: 0;
}

.burgerDiv .middle {
  top: calc(50% - var(--bar-height)/2);
  -webkit-transform: translateX(calc(-1 * var(--burger-width)/5));
          transform: translateX(calc(-1 * var(--burger-width)/5));
  -webkit-transition: -webkit-transform calc(var(--animation-duration)/3) ease-in-out;
  transition: -webkit-transform calc(var(--animation-duration)/3) ease-in-out;
  transition: transform calc(var(--animation-duration)/3) ease-in-out;
  transition: transform calc(var(--animation-duration)/3) ease-in-out, -webkit-transform calc(var(--animation-duration)/3) ease-in-out;
}

.burgerDiv:active .middle {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.bagIcon {
  height: 40px;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.bagIcon > img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-top: 4px;
  max-height: 100%;
  height: calc( var(--burger-height) + 15px);
}

.ItemsInCart {
  left: calc( 100%);
  position: absolute;
  border-radius: 50%;
}

.ItemsInCart p {
  color: var(--text-color-dark);
}

.rightSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightSection > div {
  margin: 0 20px;
}

@media (max-width: 750px) {
  .navLink {
    display: none;
  }
  .rightSection > div {
    margin: 0;
  }
}

@media (min-width: 750px) {
  .burgerDivContainer {
    display: none;
  }
  .brandIcon {
    margin-right: auto;
    margin-left: 0;
  }
}
