
.navTop{
    --nav-bottom-line: 2px;
    border-bottom: var(--nav-bottom-line) solid var(--theme-color);
    & > div{
        padding: 0 calc(var(--padding)*5)
    }
}

.burgerDiv{
    width: var(--burger-width);
    height: var(--burger-height);
    margin: var(--burger-margin);
    transform: translateX(calc(-1 * var(--burger-margin)));
    flex: 1;
    position: relative;
    cursor: pointer;
    &::before, &::after, .middle{
        content: '';
        position: absolute;
        width: 100%;
        height: var(--bar-height);
        background-color: var(--burger-color);
        transition: transform var(animation-duration) ease-in-out;
    } 

    &::before{
        top:0
    }
    &::after{
        bottom: 0;
    }

    .middle{
        top: calc(50% - var(--bar-height)/2);
        transform: translateX(calc(-1 * var(--burger-width)/5));
        transition: transform calc(var(--animation-duration)/3) ease-in-out;
    }

    &:active{
        .middle{
            transform: translate(0)
        }
    }
}

.bagIcon{
    height: 40px;
    & > img{
        margin-top: 4px;
        max-height: 100%;
        height: calc( var(--burger-height) + 15px);
    }
}

.ItemsInCart{
    left:  calc( 100%);
    position: absolute;
    border-radius: 50%;
    p{
        color: var(--text-color-dark);
    }
}