.navigation {
  --burger-height: 15px;
  --burger-width: 30px;
  --bar-height: 1.8px;
  --burger-color: var(--text-color-dark);
  --burger-margin: 7px;
  --navigation-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  height: var(--navigation-height);
  background-color: var(--body-neutral-light);
}
