.footerContainer {
  border-top: var(--border) solid var(--accent-color);
  background-color: var(--theme-color);
  font-size: 0.8em;
  color: var(--text-color-medium);
}

.footerHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brandName {
  font-size: 2em;
  padding: 10px 25px;
}

.Icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[5];
      grid-template-columns: repeat(5, 50px);
}

.Icons img {
  width: 100%;
}

.footerBody {
  margin: var(--margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerBody ul {
  margin: var(--large-margin);
}

.footerBody li {
  text-align: left;
  list-style: none;
}

.footerBody li h3 {
  position: relative;
  display: inline-block;
  margin: var(--large-margin) 0;
}

.footerBody li h3:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-accent-color);
}

.footerLink {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.footerBottom {
  border-top: 1px solid var(--secondary-theme-color);
  font-size: 0.8em;
}

.footerBottom div:nth-child(1) {
  padding: var(--large-margin);
}

.footerBottom div:nth-child(1) span {
  padding: 1px var(--margin);
  margin: 1px;
  display: inline-block;
  border-left: 1px solid var(--secondary-theme-color);
}

.footerBottom div:nth-child(2) {
  padding: var(--large-margin);
}
