.container{
    position: relative;
    overflow: hidden;
    --inner-virtual-padding: 10px;
}

.slider{
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    background-color: rgb(25, 25, 29);
    & > div{
        width: 50%;
        flex-shrink: 0;
        overflow: hidden;
    }
}

@media (max-width: 570px) and (max-aspect-ratio: 9/9) {
    .slider > div{
        width: 100%;
    }
    .slider{
        max-width: calc((90vh - 50px)* 100/130 );
    }
}


/****************************button****************************/
.toLeft,.toRight{
    background-color: #0f0f13c6;
    padding: 15px;
    display: block;
    top: 50%;
    border-radius: 50%;
    position: absolute;
    transition: transform var(--fast-animation-duration) ease-in-out;
    &::after{
        content: "";
        border-right: 1px solid var(--body-background) ;
        border-top: 1px solid var(--body-background) ;
        transform: translate(-50%,-50%);
        position: absolute;
        top: 55%;
        left: 45%;
        height: 30% ;
        width: 30%;
    }
}

.toRight{
    left: var(--inner-virtual-padding);
    transform: translateY(-50%) rotateZ(-135deg);
    &:active{
        background-color: #0f0f13e9;
        transform: translate(5px,-50%) rotateZ(-135deg);
    }
}

.toLeft{
    right: var(--inner-virtual-padding);
    transform: translateY(-50%) rotateZ(45deg);
    &:active{
        background-color: #0f0f13e9;
        transform: translate(-5px,-50%) rotateZ(45deg);
    }
}

/************************tracker***************************/

.tracker{
    background-color: #c0c0c0;
    height: 2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: var(--inner-virtual-padding);
}

.circle{
    padding: 7px;
    margin: 2px;
    border-radius: 100%;
    // transition: background-color var(--fast-animation-duration) ease-in-out;
    background-color: #838181;
    &.active{
        background-color: blue;
    }
}

