
.error {
  color: red;
  font-size: 0.9em;
}

.prompt {
  width: unquote("min(500px, 90%)");
  transform: translate(-50%, -60%);
  position: fixed;
  overflow: hidden;
  z-index: 3;
  left: 50%;
  top: 50%;
  transition-property: transform opacity;
  transition-duration: var(--animation-duration);
  transition-timing-function: ease-in-out;
  h3 {
    margin-bottom: 1.2em;
    text-align: center;
    text-decoration: underline;
  }
  & > div {
    background-color: var(--accent-color-1);
  }

  &.closed{
    opacity: 0;
    // pointer-events: none;
  }
}

.loginForm {
  gap: 0.4em;
  display: flex;
  flex-direction: column;
}

.two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
}

.validate {
  background-color: var(--accent-color-1);
  justify-content: center;
  margin-top: 1em;
  color: white;
  padding: 0.9em;
  display: flex;
  width: 100%;
  span{
    margin: 0 2em;
  }
}

.else {
  text-align: center;
  margin-top: 1em;
  p {
    display: inline-block;
  }
  span {
    font-family: "Gill Sans" sans-serif;
    font-weight: bold;
  }
}

.formContainer {
  width: 100%;
  position: absolute;
  border-radius: var(--border-radius);
  background-color: white;
}

._formContainer {
  padding: 1em 8px;
}

.terms {
  display: flex;
  align-items: center;
  padding-top: 0.7em;
  padding-bottom: 0.4em;
  input {
    display: inline-block;
    margin-right: 0.3em;
    margin-left: 3px;
  }
  span {
    color: var(--accent-color);
  }
  font-size: 0.83em;
}

.spinner {
  border: 1px solid black;
  border-left: none;
  margin-left: 0%;
  padding: 0px;
  border-radius: 100%;
  transition: padding var(--animation-duration) ease-in-out,
    margin var(--animation-duration) ease-in-out;
  .spin {
    padding: 15px;
    margin-left: 25%;
    animation: spin 0.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

//third parties login

.TPContainer{
  .TPheader{
    display: flex;
    position: relative;
    margin-bottom: 0.2em;
    span{
      position: relative;
      margin: auto;
      z-index: 1;
      padding: 0 1em;
      background-color: white;
    }
    &::after{
      transform: translate(-50%,-50%);
      background-color: black;
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      left: 50%;
      top: 58%;

    }
  }

  .TPcontent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .alternative{
    display: flex;
    padding: 2px 5px;
    width: fit-content;
    border-radius: 2px;
    align-items: center;
    margin: 0.1em;
    color: rgb(60, 57, 57);
    background-color: var(--theme-color-5);
    img{
      height: 1.6em;
      margin-right: 1em;
    }
  }
}