.container {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: rgb(255, 255, 255);
  display: grid;
  overflow: hidden;
  gap: var(--box-gap);
  padding: calc(var(--box-gap)/2);
}


@media (max-width: 570px) {
  .container.double{
    grid-template-columns: unquote("repeat(auto-fill, minmax(48%, 1fr))");
    padding: 0px;
    gap: 2px;
    font-size: 0.9em;
  }
}