.container {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  overflow: hidden;
  place-items: center;
  pointer-events: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: inherit;
}

.container.visible {
  pointer-events: all;
}

.childrenContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 80vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--theme-color-2);
}
