.container {
  z-index: 3;
  display: flex;
  position: fixed;
  overflow: hidden;
  place-items: center;
  pointer-events: none;
  justify-content: center;
  background-color: inherit;
  &.visible {
    pointer-events: all;
  }
}

.childrenContainer {
  width: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  
  background-color: var(--theme-color-2);
}


.optionContainer{
  background-color: rgb(255, 255, 255);
  padding: var(--large-padding);
  max-width: 50ch;
  overflow: auto;
  width: 80vw;
  h2{
    font-size: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.3em;
    color: var(--theme-color-2);
    border-bottom: 2px solid var(--accent-color);
  }
  
  label{
    margin-bottom: 1em; 
  }
}

.children{
  margin-bottom: var(--large-margin);
}