.filterContainer {
  --individualFilterHeight: 15px;
  border-left: var(--border) solid var(--theme-color);
  background-color: var(--body-neutral-light);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: 1px solid var(--theme-color);
  -webkit-transform: scale(0.2) translateY(-500px);
          transform: scale(0.2) translateY(-500px);
}

@media (min-width: 570px) {
  .filterContainer {
    max-width: 350px;
  }
}

.header {
  width: 100%;
  height: 45px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.crossContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin-left: auto;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cross {
  --burger-width: 30px;
  height: 2px;
  margin: auto 3px;
  margin-left: auto;
  position: relative;
  width: var(--burger-width);
}

.cross::after, .cross::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  background-color: var(--theme-color);
}

.cross::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.cross::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
