.myImage {
  width: 100%;
  height: 100%;
  position: relative;
}

.myImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.loadingPlaceholder {
  width: 100%;
  height: 1005;
  background-color: balck;
  max-height: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(0);
          transform: translate(-50%, -50%) translateZ(0);
}
