.itemContainer {
  flex-shrink: 0;
  overflow: hidden;
}

.cardsContainer {
  display: flex;
  min-height: 80vh;
  max-width: 500px;
  position: relative;
  text-align: center;
  flex-direction: column;
  // color:  #ffffff;
  h3 {
    text-decoration: underline;
    margin: var(--large-margin) 0;
  }
}
.buyPrompt {
  background-color: var(--accent-color-2);
  color: white;
  width: 100%;
  padding: 2.5px;
  font-size: 1.1em;
  margin: var(--padding) 0px;
  margin-top: auto;
}

