:root {
  --border: 2px;
  --thin-border: 1.5px;
  --border-radius: 2px;
  --margin: 5px;
  --large-margin: 8px;
  --larger-margin: 50px;
  --padding: 5px;
  --large-padding: 15px;
  --text-color-dark: rgb(0, 0, 0);
  --text-color-medium: rgb(240, 240, 240);
  --text-color-light: rgb(255, 255, 255);
  --theme-color: #0f0f13;
  --secondary-theme-color: #4f4f6880;
  --accent-color: #bb245c;
  --secondary-accent-color: #bb245bef;
  --body-background: #ffffff;
  --body-neutral-dark: #000000;
  --body-neutral-light: #ffffff;
  --page-max-width: 1200px;
  --larger-font-size: 2em;
  --large-font-size: 1.2em;
  --small-font-size: 0.8em;
  --medium-font-size: 0.8em;
  --animation-duration: 0.4s;
  --fast-animation-duration: 0.2s;
  --box-gap: 10px;
  --max-card-height: 70vh;
  --aspect-ratio: 120;
  --fCP:60%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 100%;
}

html {
  font-size: 100%;
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body > div {
  overflow: auto;
}

h1 {
  font-size: var(--larger-font-size);
  font-weight: 100;
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
  -webkit-animation: MoreProduct 5s infinite;
          animation: MoreProduct 5s infinite;
}

h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
}

img {
  max-height: 100%;
}

#__next {
  height: 100%;
  width: 100%;
  font-size: 1em;
  background-color: var(--body-background);
  font-family: "Manrope", sans-serif;
  color: var(--text-color-dark);
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.big-container {
  width: 100%;
  max-width: var(--page-max-width);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vertical-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-children {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-left {
  margin-right: auto;
}

.flex-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
}

.hidden-overflow {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.no-shrink {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (hover: none) {
  .pointer {
    cursor: default;
  }
}

.find_overflow {
  overflow: hidden;
}

.navBar_overflow {
  overflow: hidden;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.animated {
  overflow: hidden;
}

.animated::after {
  content: "";
  z-index: 0;
  background: -webkit-gradient(linear, right top, left top, from(#d9d9d9), color-stop(#e6e5e5), to(#d9d9d9));
  background: linear-gradient(to left, #d9d9d9, #e6e5e5, #d9d9d9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10px;
  top: 0;
  -webkit-animation: loading 0.9s linear infinite;
          animation: loading 0.9s linear infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  100% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
}
