:root {
  --border: 2px;
  --thin-border: 1px;
  --border-radius: 2px;
  --margin: 5px;
  --large-margin: 8px;
  --larger-margin: 50px;
  --padding: 5px;
  --large-padding: 15px;
  --text-color-dark: rgb(0, 0, 0);
  --text-color-light: rgb(255, 255, 255);
  --theme-color: #0f0f13;
  --accent-color: #bb245c;
  --secondary-accent-color: #bb245bb1;
  --body-background: #ffffff;
  --body-neutral-dark: #000000;
  --body-neutral-light: #ffffff;
  --page-max-width: 1200px;
  --large-font-size: 1.2em;
  --medium-font-size: 0.8em;
  --animation-duration: 0.5s;
  --fast-animation-duration: 0.1s;

  /////////cards///////////////
  --box-gap: 10px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-size: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
button{
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

}

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

#__next {
  height: 100%;
  width: 100%;
  font-size: 1em;
  background-color: var(--body-background);
  overflow-y: auto;
  font-family: "Manrope", sans-serif;
  color: var(--text-color-dark);
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.big-container {
  width: 100%;
  max-width: var(--page-max-width);
}

.flex {
  display: flex;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}
.center-children {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-left {
  margin-right: auto;
}

.flex-center {
  margin-left: auto;
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
}

.hidden-overflow {
  overflow: hidden;
}

.pointer{
  cursor: pointer
}

.no-shrink{
  width: 100%;
  flex-shrink: 0;
}

@media (hover: none){
  .pointer{
    cursor:default;
  }
}

///////////////////////////////////////////////////////////////////////////

.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

.purple {
  background-color: purple;
}
