.productPage {
  width: 100%;
  display: grid;
  grid-template-columns: 70% 1fr;

  & > div:nth-child(1) {
    grid-column: 1/2;
  }
  & > div:nth-child(2) {
    grid-column: span 1;
  }
  & > div:nth-child(3) {
    grid-column: span 2;
  }
}


@media (max-width: 900px) {
  .productPage {
    grid-template-columns: 1fr;
    & > div:nth-child(2) {
      grid-row: 2/3;
    }
  }
}

@media (max-width: 570px) {
  .productPage {
    grid-template-columns: 1fr;
  }
}

.buyPrompt {
  background-color: var(--accent-color);
  color: white;
  padding: 7px;
  width: 95%;
  border-radius: var(--border-radius);
}
.addToCartPrompt{
  border: 1px solid var(--theme-color);
  width: 70%;
  margin-top: var(--margin);
  border-radius: var(--border-radius);
  padding: 5px;
}


/*************Sectionsof under the buttons******************/

.informations{
  height: 500px;//
  margin: var(--margin);

}


/*********************product Proposition********************/

.moreProduct{
  h3{
   
    animation: MoreProduct 5s infinite;
    padding-left: var(--margin);
    margin-left: var(--margin);
    span{
      font-size: 1em;
    }
  }
}

@keyframes MoreProduct {
  0%{
    border-left: var(--border) solid var(--accent-color);
  }
  50%{
    border-left: var(--border) solid var(--theme-color);
  }
  100%{
    border-left: var(--border) solid var(--accent-color);
  }
  
}
