.boss {
  margin: auto;
  width: 500px;
  max-width: 90%;
}

.proposition {
  top: 0;
  right: 0;
  opacity: 0;
  width: 50%;
  z-index: -2;
  max-height: 90px;
  overflow: scroll;
  position: absolute;
  font-size: 0.9em;
  border-radius: 2px;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  color: #e8e5e5;
  -webkit-transform: translateY(-103%);
          transform: translateY(-103%);
  background-color: var(--theme-color);
  -webkit-transition: z-index 0.1s ease 0.2s, opacity var(--fast-animation-duration) ease-in-out;
  transition: z-index 0.1s ease 0.2s, opacity var(--fast-animation-duration) ease-in-out;
}

.proposition::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.proposition p {
  margin: 5px;
}

.addButtonArray, .createProposition {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e8e5e5;
  position: absolute;
  border-radius: 4px;
  padding: 2px 5px;
  right: 10px;
  top: 50%;
  color: rgba(0, 0, 0, 0.715);
}

.createProposition {
  background-color: #ef2828;
  color: white;
}

.superInput {
  margin: 10px 0;
  position: relative;
}

.superInput input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.superInput label {
  font-size: 0.8em;
  background-color: #181feb;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}

.inputContainer {
  margin: auto;
  margin: 5px auto;
  position: relative;
}

.inputContainer label {
  background-color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  padding: 0 2px;
  left: 8px;
  top: 50%;
  font-weight: 400;
  color: #505050;
  -webkit-transition: all var(--fast-animation-duration) ease-in-out;
  transition: all var(--fast-animation-duration) ease-in-out;
}

.inputContainer input,
.inputContainer textarea {
  width: 100%;
  font-size: 1em;
  padding: 5px 2px;
  outline: none !important;
  border: 1px solid #595959;
  padding: 10px 8px !important;
}

.inputContainer input:focus,
.inputContainer textarea:focus {
  border: 1px solid rgba(86, 86, 240, 0.585);
  -webkit-box-shadow: 0px 0px 0.2em rgba(86, 86, 240, 0.585);
          box-shadow: 0px 0px 0.2em rgba(86, 86, 240, 0.585);
}

.inputContainer input:focus ~ label,
.inputContainer textarea:focus ~ label {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8em;
  top: 0;
  left: 8px;
  color: black;
}

.inputContainer input:focus ~ .proposition,
.inputContainer textarea:focus ~ .proposition {
  opacity: 1;
  z-index: 2;
  -webkit-transition: z-index 0.1s ease 0s;
  transition: z-index 0.1s ease 0s;
}

.inputContainer input.failure,
.inputContainer textarea.failure {
  border: 1px solid rgba(240, 86, 86, 0.585);
  -webkit-box-shadow: 0px 0px 0.2em rgba(240, 86, 86, 0.585);
          box-shadow: 0px 0px 0.2em rgba(240, 86, 86, 0.585);
}

.inputContainer input.failure ~ label,
.inputContainer textarea.failure ~ label {
  color: rgba(240, 86, 86, 0.585);
}

.inputContainer textarea {
  position: relative;
  max-width: 100%;
  min-height: 150px;
}

.inputContainer textarea ~ label {
  top: 20px;
}

.inputArrayChoices, .editState {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
}

.inputArrayChoices::-webkit-scrollbar, .editState::-webkit-scrollbar {
  height: 0px;
}

.inputArrayChoices p, .editState p {
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 2px;
  padding: 0px 5px;
  border-radius: 0.2em;
  background-color: #ff5090;
}

.editState {
  margin: 1.2em 0;
}

.editState p {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #6b6b79;
  -webkit-transition: -webkit-transform var(--fast-animation-duration) ease-in-out;
  transition: -webkit-transform var(--fast-animation-duration) ease-in-out;
  transition: transform var(--fast-animation-duration) ease-in-out;
  transition: transform var(--fast-animation-duration) ease-in-out, -webkit-transform var(--fast-animation-duration) ease-in-out;
}

.editState p.active {
  background-color: #e42dd8;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.filled ~ label {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8em;
  top: 0 !important;
  left: 8px;
  color: black;
}

.inputImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.inputImageContainer > div {
  margin: 1;
}

.inputImageContainer input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inputImageContainer input.failure ~ label {
  color: #f0565695;
  border: 1px solid rgba(240, 86, 86, 0.585);
  -webkit-box-shadow: 0px 0px 0.2em rgba(240, 86, 86, 0.585);
          box-shadow: 0px 0px 0.2em rgba(240, 86, 86, 0.585);
}

.inputImageContainer label {
  position: absolute;
  opacity: 0.85;
  top: 50%;
  left: 50%;
  color: gray;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.add {
  border: 1px solid #6a6aed;
  width: 100%;
  margin: 2px 0px;
  padding: 2px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.add:active {
  background-color: #4961dc;
}

.rm {
  width: 100%;
  margin: 2px 0px;
  padding: 2px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.rm:active {
  background-color: rgba(239, 20, 20, 0.667);
}

.submit {
  background: linear-gradient(20deg, var(--accent-color), #ed62ed);
  text-justify: center;
  border-radius: 2px;
  margin-top: 4px;
  color: white;
  max-width: 60%;
  height: 3em;
  width: 500px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.submit span {
  margin: auto;
}

.submit:active {
  border: 2px solid var(--accent-color);
  background: white;
  color: black;
}

/*******************image input **************************/
.imagesInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rm {
  top: 0;
  right: 0;
  position: absolute;
  width: min(30px, 15%);
  padding-top: min(30px, 15%);
  background-color: black;
}

.rm::after, .rm::before {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: white;
  content: "";
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
}

.rm::after {
  -webkit-transform: translate(0, -50%) rotateZ(45deg);
          transform: translate(0, -50%) rotateZ(45deg);
}

.rm::before {
  -webkit-transform: translate(0, -50%) rotateZ(-45deg);
          transform: translate(0, -50%) rotateZ(-45deg);
}

.utilState {
  height: 100vh;
}
