.boss {
  margin: auto;
  width: 500px;
  max-width: 90%;
}

.editState {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow: auto;
  margin: 1.2em 0;
  margin-bottom: 0.8em;
  p {
    color: white;
    flex-shrink: 0;
    margin: 2px;
    padding: 0px 5px;
    border-radius: 0.2em;
    transform: scale(0.9);
    background-color: rgb(107, 107, 121);
    transition: transform var(--fast-animation-duration) ease-in-out;
  }
  p.active {
    background-color: rgb(228, 45, 216);
    transform: scale(1);
  }
}



.submit {
  background: linear-gradient(20deg, var(--accent-color), rgb(237, 98, 237));
  text-justify: center;
  border-radius: 2px;
  margin-top: 4px;
  color: white;
  max-width: 60%;
  height: 3em;
  width: 500px;
  padding: 5px;
  display: flex;
  span {
    margin: auto;
  }

  &:active {
    border: 2px solid var(--accent-color);
    background: white;
    color: black;
  }
}

/*******************image input **************************/

.correct{
  height: 1em;
  // margin: 0.6em;
  &> path{
    stroke-width: 3px;
  }
}

.task_ctn{
  margin: var(--large-margin) 0;
  // display: flex;
  position: relative;
  p{
    display: flex;
    align-items: center;
  }
  & > span{
    text-justify: distribute;
    margin-left: 2em;
    color: red;
  }
}

.taskManagerIcon{
  position: relative;
  // background-color: blue;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  // display: flex;
  &> svg{
    position: absolute;
    // top: 0%;
    left: 0%;
    width: 100%;
    // transform: translate(-50%,-50%);
  }
  &>div{
    position: absolute;
    margin: auto;
    width: 100%;
  }
}

.error{
  background-color: white;
  font-size: 0.8em;
}