.container {
  margin-top: var(--large-padding);
}

.filterHeader {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 var(--margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filterContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.filterContainer::-webkit-scrollbar-track {
  background-color: #c7aeae;
}

.filterContainer::-webkit-scrollbar {
  height: 0px;
  background-color: #f5f5f5;
}

.filterContainer::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.filterSetter {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: var(--padding);
  padding-right: 0;
}

.filterSetter img {
  margin: var(--margin);
  max-height: none;
  height: 110%;
}

.displayType {
  height: 20px;
  font-weight: 100;
  margin-right: var(--margin);
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 390px) {
  .displayType {
    display: none;
  }
}

/********************************************filter styles***********************************/
.filter {
  padding: 2px 2px 2px 9px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: var(--border-radius);
  color: var(--text-color-light);
  margin: calc(var(--margin) / 2);
  font-size: var(--small-font-size);
  background-color: var(--theme-color);
}

.crossContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cross {
  width: 15px;
  height: 2px;
  margin: auto 3px;
  position: relative;
}

.cross::after, .cross::before {
  position: absolute;
  height: 100%;
  content: "";
  width: 100%;
  background-color: var(--body-background);
}

.cross::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.cross::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
